#=============================================================================
# dark_powered.toml --- dark powered configuration example for SpaceVim
# Copyright (c) 2016-2017 Wang Shidong & Contributors
# Author: Wang Shidong < wsdjeg at 163.com >
# URL: https://spacevim.org
# License: GPLv3
#=============================================================================

# All SpaceVim option below [option] section
[options]
    # set spacevim theme. by default colorscheme layer is not loaded,
    # if you want to use more colorscheme, please load the colorscheme
    # layer
    colorscheme = "gruvbox"
    background = "dark"
    # Disable guicolors in basic mode, many terminal do not support 24bit
    # true colors
    enable_guicolors = true
    # Disable statusline separator, if you want to use other value, please
    # install nerd fonts
    statusline_separator = "arrow"
    statusline_inactive_separator = "arrow"
    buffer_index_type = 4
    enable_tabline_filetype_icon = true
    enable_statusline_display_mode = false
    filemanager = "nerdtree"

# Enable autocomplete layer
[[layers]]
name = 'autocomplete'
auto-completion-return-key-behavior = "complete"
auto-completion-tab-key-behavior = "smart"
[[layers]]
name = 'shell'
default_position = 'top'
default_height = 30
[[layers]]
name = 'colorscheme'
[[layers]]
name = "tools"
[[layers]]
name = "denite"
[[layers]]
name = "git"
[[layers]]
# name = "lang#c"
# [[layers]]
# name = "lang#go"
# [[layers]]
# name = "lang#python"
# [[layers]]
# name = "lsp"
# filetypes = [
  # "go",
  # "python"
# ]

[[custom_plugins]]
name = 'mattn/gist-vim'
[[custom_plugins]]
name = 'mattn/webapi-vim'
[[custom_plugins]]
name = 'Shougo/deol.nvim'
[[custom_plugins]]
name = 'thinca/vim-quickrun'
[[custom_plugins]]
name = 'scrooloose/nerdtree'
# [[custom_plugins]]
# name = 'nsf/gocode'
